.redZone {
    background-color: #ff4989;
}

.yellowZone {
    background-color: #fcfa6c;
}

.greenZone {
    background-color: #99fcce;
}

#check-readings-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: yellow; */
    width: 400px;
    margin: 0 auto;    
}

#display-area-div {
    text-align: center;
    /* display:flex;
    flex-direction:column; */
    
}