.redZone {
    background-color: #ff4989;
}

.yellowZone {
    background-color: #fcfa6c;
}

.greenZone {
    background-color: #99fcce;
}

#check-readings-div {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* background-color: yellow; */
}

#get-readings-btn {
    /* display:flex; */
    /* flex-direction:column; */

}

#display-area-div {
    /* display:flex;
    flex-direction:column; */
    width: 400px;
}