body {
    background-image: url("/assets/forest.jpg") 
}

.redZone {
    color:#ff4989;
}

.yellowZone {
    color: #e5dd3d;
}

.greenZone {
    color: #42dd4a;
}

#check-readings-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #deeade;
    opacity: .6;
    width: 400px;
    margin: 0 auto;
    padding: 5px;  
    border: solid 1px black;  
    border-radius: 5px;
}

#display-area-div {
    text-align: center;
    /* display:flex;
    flex-direction:column; */
    
}